# Learn to use Jupyter
* With a linear/logistic regression model
* Learn to use matplotlib to draw graphs (visualize the data)

In [40]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
# from sklearn import preprocessing, datasets
# %matplotlib inline

In [37]:
# df = pd.read_csv('iris.csv', header=0)
df = pd.read_csv('iris.csv')
# print(len(df))
# print(df)
# print(df.index)
# print(df.columns)
# print(df.values)
# print(df[['sepal_length', 'species']])
# print(df.loc[[0, 5, 13], ['sepal_length', 'species']])

# print(df.groupby('species').size())

classes = df['species'].unique()
# print(classes)

subdf = dict()
for each in classes:
    subdf[each] = df[df['species'].isin([each])]

# print(subdf['versicolor'])
# iris1 = subdf['setosa']
# iris2 = subdf['versicolor']
# iris3 = subdf['virginica']

df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.054000  0.433594  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758667  1.764420  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.198667  0.763161  0.1  0.3  1.30  1.8  2.5

In [38]:
# iris = np.array(df)
# print(iris)

data = df.data
labels = df.target_names
labels

AttributeError: 'DataFrame' object has no attribute 'data'